body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    line-height:1.5;
    margin:0;
    padding:0;
}

/* Global */

.container {
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content:space-around;
    width:80%;
    overflow:hidden;
}

/* Fonts */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
  }

  .bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
/* phone version */
@media only screen and (max-width:400px){
    .header{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:center;
        align-content:center;
        align-items:center;
        max-height:280px;
    }
    .header #mainnav ul {
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
    }

    .header #mainnav li {
        padding:5px;
    }

    .branding{
        max-height:80px;
        padding-bottom:20px;
    }

    .container #box1 img {
        max-width: 90%;
    }

    .container #box2 img {
        max-width: 90%;
    }

    .container #box3 img {
        max-width: 90%;
    }

    .container #box4 img {
        max-width: 90%;
    }

    #showcase h1 {
        font-size: 36px;;
    }
    #showcase p {
        font-size: 24px;
    }

    footer {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-around;
        align-content:center;
        align-items:center;
    }
    footer #social_links{
        display:flex;
        flex-direction: row;
    }

    #social_links a {
        display:flex;
        justify-content: space-around;
        padding-right:10px;
    }
}

/* Tablet version */
@media only screen and (min-width:400px){
    .header {
        width:100%;
        min-height:100px;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-content:center;
        align-items:center;
    }

    .header ul{
        display:flex;
        justify-content:center;
    }
    .header #mainnav li{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        align-content:center;
    }
    .branding{
        max-height:80px;
        padding-bottom:20px;
        display:flex;
        justify-content:center;
    }

    .container #box1 img {
        max-width: 90%;
    }

    .container #box2 img {
        max-width: 90%;
    }

    .container #box3 img {
        max-width: 90%;
    }

    .container #box4 img {
        max-width: 90%;
    }

    #showcase h1 {
        font-size: 36px;;
    }
    #showcase p {
        font-size: 24px;
    }

    footer {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
    }

    footer #social_links{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    #social_links a {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px;
    }
}

/* desktop version */
@media only screen and (min-width:980px){
    .header {
        display:flex;
        width: 100%;
        flex-direction:row;
        justify-content:space-between;
    }

    #mainnav ul {
        display:flex;
        flex-wrap:wrap;

    }

    .header #mainnav li{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
        padding-right:10px;
        Padding-top:30px;
        list-style:none;
        text-decoration:none;
    }

    .branding{
        display:flex;
        justify-content:flex-start;
        max-height:120px;
        max-width:120px;
        padding-bottom:20px;
    }

    .container #box1 img {
        max-width: 90%;
    }

    .container #box2 img {
        max-width: 90%;
    }

    .container #box3 img {
        max-width: 90%;
    }

    .container #box4 img {
        max-width: 90%;
    }

    footer {
        width:100%;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
    }
    footer #social_links{
        display:flex;
        flex-direction: row;
    }

    #social_links a {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px;
    }

}

a {
    text-decoration:none;
    color:antiquewhite;
    font-family:"GFS Didot";
}

header {
    background-color:#1E303C;
}

#mainnav ul{
    padding-right:10px;
    list-style:none;
    color:antiquewhite;
}

#mainnav li{
    padding-right:10px;
    list-style:none;
    text-decoration:none;
}

.branding img {
    height:100px;
    width:100px;
    padding: 15px;
}

#mainnav .fa{
    margin-right:5px;
}

a:hover{
    color:#3A6E5A;
}

#mainnav .current a{
    color:#9EA799;
    font-style:bold;
    text-decoration:underline;
}
/* Home Main Section */
.container{
    width:80%;
    display:flex;
    justify-content:space-around;
}
#showcase {
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 50%),
        rgb(0 0 0 / 50%)
      ), url(../team_6_Images/2.jpg);
    min-height:600px;
    background-position: center center;
    background-repeat:no-repeat;
    margin:auto;
}
.showcase-content {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
#showcase h1{
    font-family:"Bebas Neue";
    display:flex;
    justify-content:center;
    align-content:center;
    color:#ffffff;
    align-items:center;
    font-size:50px;
    padding-top: 320px;
}
#showcase p {
    font-family:"GFS Didot";
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    color:#ffffff;
    align-items:center;
    font-size: 36px;
}

#showcase img {
    opacity:0.5;
}
/* Rooms Main Section */
.container{
    width:80%;
    display:flex;
    justify-content:space-around;
}

.container h1 {
    display:flex;
    justify-content:center;
    color:#3A6E5A;
    font-family:"Bebas Neue";
}

.container h2 {
    font-family:"GFS Didot";
    color:#1E303C;
    font-weight: bold;
    text-decoration: underline;
}

.container p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#1E303C;
}

#box1, #box2, #box3, #box4 {
    border: solid 2px #9EA799;
    margin:10px;
    padding:10px;
}

#box1, #box2, #box3, #box4 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items:center;
}

/* Booking Form */

h3 {
    font-family:"Bebas Neue";
    display:flex;
    justify-content:center;
    font-size:28px;
}

Form {
    background-color:#3A6E5A;
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    padding-top:15px;
    margin-bottom: 20px;
}

Form label {
    font-family: GFS Didot;
    font-size:18px;
    color:antiquewhite;
}

form input[type=text] {
    border:1px solid #1E303C;
    padding:10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
form input[type=email] {
    border:1px solid #1E303C;
    padding:10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
form input[type=number] {
    border:1px solid #1E303C;
    padding:10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
form input[type=tel] {
    border:1px solid #1E303C;
    padding:10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
form input[type=date] {
    border:1px solid #1E303C;
    color:#1E303C;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #1E303C;
    border-radius: 4px;
    
    color:#1E303C;
    font-family:"GFS Didot";
    font-size: 18px;
    margin:10px;
  }
input[type=text]:focus {
    border: 3px solid EF8B51;
  }

.button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    background-color: #1E303C;
    color:antiquewhite;
    padding: 5 0 5 0;
    border-radius: 5px;
    width:30%;
    margin-top:15px;
    margin-inline:15px;
    margin-bottom:15px;
}
/* footer */

footer {
    background-color: #1E303C;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:antiquewhite;
    text-decoration:none;
    font-family: "GFS Didot";
}

footer #social_links li{
    display:flex;
    flex-direction:row;
}

#social_links li {
    text-decoration:none;
}